* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "dingjb";
  src:
    url("/font/DingTalk_JinBuTi_Regular.woff2") format("woff2"),
    url("/font/DingTalk_JinBuTi_Regular.woff") format("woff"),
    url("/font/DingTalk_JinBuTi_Regular.ttf") format("truetype");
}
:root {
  --primary-color: #96b6c5;
  --base-color: #fff;
  --panel-bgcolor: #eee0c9;
  --btn-bgcolor: #adc4ce;
}
body {
  background-color: #f1f0e8;
  font-family: "dingjb";
}
.container {
  margin: 0 auto;
  width: 80%;
}
button {
  padding: 6px 10px;
  text-decoration: none;
  border: none;
  background-color: var(--btn-bgcolor);
  color: var(--base-color);
  border-radius: 4px;
}

button[type="primary"] {
  background-color: var(--primary-color);
  color: var(--base-color);
}
