.boardRow::after {
  clear: both;
  content: "";
  display: table;
}
.square {
  width: 2.2rem;
  height: 2.2rem;
  border: 2px solid #999;
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 0;
  font-size: 28px;
  font-weight: 700;
  float: left;
  margin-right: -2px;
  margin-top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square__dark {
  color: var(--primary-color-dark);
}
.statusStyle {
  text-align: left;
  margin-bottom: 10px;
  color: var(--primary-color);
}
.statusStyle__dark {
  color: var(--primary-color-dark);
}
.game {
  display: flex;
}
.gameInfo {
  margin-left: 40px;
}
.liMove {
  text-align: left;
  margin-bottom: 10px;
}
